.fa-stack {
    zoom: 0.5;
}

.btn-primary.override-bs {
    border-radius: 25px;
}

.form-control.searchbar {
    border-radius: 25px;
    border-left: 0;
}

.input-group-text.search-icon {
    border-radius: 25px;
    border-right: 0;
}

.spaceship {
    left: 5px;
    bottom: -2px;
}

.tweet-preview-image {
    border-radius: 10px;
}